[core]
excludesfile = /Users/carlos/.gitignore

[includeIf "gitdir:~/Documents/work/"]
path = ~/.gitconfig-work

[includeIf "gitdir:~/Documents/personal/"]
path = ~/.gitconfig-personal

[includeIf "gitdir:~/dotfiles/"]
path = ~/.gitconfig-personal
