[core]
excludesfile = /Users/carlos/.gitignore

[includeIf "gitdir:~/Desktop/"]
path = ~/.gitconfig-work

[includeIf "gitdir:~/Documents/"]
path = ~/.gitconfig-personal

[includeIf "gitdir:~/dotfiles/"]
path = ~/.gitconfig-personal
